.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(47, 88, 102);
  color: white;
  min-height: 10vh;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.pokeName {
  display: inline-flex;
  min-width: 250px;
  padding-left: 10px;
}